/* Popup Overlay Effect */
@import url(https://fonts.googleapis.com/css?family=Oswald:300,700);
.CC-newsletter-popup-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  /*transition: opacity 500ms;*/
  display: none;
  opacity: 0;
}
.CC-newsletter-popup-overlay.open {
  display: block;
  opacity: 1;
  z-index: 100000;
}

/* ------------------------- Classic Version 1.0 ------------------------------ */
/* Popup */
.CC-newsletter-popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 50%;
  min-height: 250px;
  position: relative;
  /*transition: all 5s ease-in-out;*/
}
.CC-newsletter-popup h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  color: #333;
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 32px;
  text-align: center;
  font-weight: bold;
}
.CC-newsletter-popup .close {
  /*position: absolute;
  top: 5px;
  right: 15px;*/
  position: absolute;
  top: 4px;
  right: 10px;
  transition: all 200ms;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.CC-newsletter-popup .close:hover {
  color: orange;
}

/* Popup Content */
.CC-newsletter-popup .content {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 16px;
  text-align: center;
}

.CC-newsletter-popup .email-section .name {
  width: 43.6%;
  height: 43px;
  border: 1px solid #ccc;
  margin-top: 35px;
  padding-left: 15px;
  outline:0;
}
.CC-newsletter-popup .email-section .name:first-child{ margin-right: 5px; }

/* Popup Email field */
.CC-newsletter-popup .email-section {text-align: center;}
.CC-newsletter-popup .email-section .email {
  width: 460px;
  height: 43px;
  border: 1px solid #ccc;
  margin-top: 35px;
  margin-bottom: 15px;
  padding-left: 15px;
  outline:0;
}

/* Popup Submit button */
.CC-newsletter-popup .email-section button {
  width: 100px;
  padding: 0px;
  height: 43px;
  background: #000000;
  border: none;
  text-transform: uppercase;
  font-size: 18px;
  color:#FFFFFF;
  font-family: 'Oswald';
  font-weight: bold;
  position: relative;
  top: 2px;
}
.CC-newsletter-popup .email-section button:hover {
  background: #555555;
}

/* Popup SubText */
.CC-newsletter-popup .email-section small {
  color: #000000;
  text-align: center;
  display: block;
  padding-bottom: 10px;
  padding-top: 10px;
}

/* ------------------------- Modern Version 1.0 ------------------------------ */
.CC-newsletter-popup.modern {
  background-image: -webkit-repeating-linear-gradient(-55deg, #21A579, #21A579 34px, firebrick 10px, firebrick 75px);
  background-image: -moz-repeating-linear-gradient(-55deg, #21A579, #21A579 34px, firebrick 10px, firebrick 75px);
  background-image: -ms-repeating-linear-gradient(-55deg, #21A579, #21A579 34px, firebrick 10px, firebrick 75px);
  background-image: repeating-linear-gradient(-55deg, #21A579, #21A579 34px, firebrick 10px, firebrick 75px);
  background-size: 100% 10px;
  background-position: 50% 0%;
  background-repeat: no-repeat;
  content: " ";
}
.CC-newsletter-popup.modern h2 { color: #B22222; }
.CC-newsletter-popup.modern .email-section{
  background: #21A579;
  -webkit-border-top-left-radius: 30px;
  -moz-border-top-left-radius: 30px;
  border-top-left-radius: 30px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-bottom-right-radius: 30px;
  border-bottom-right-radius: 30px;
}
.CC-newsletter-popup.modern .email-section .email {border: 0px;}
.CC-newsletter-popup.modern .email-section .name {border: 0px;}
.CC-newsletter-popup.modern .content { margin-bottom: 10px;color:#1C8C66; }
.CC-newsletter-popup.modern .email-section small { color:#FFFFFF; }
.CC-newsletter-popup.modern .email-section button { background: #B22222; }
.CC-newsletter-popup.modern .email-section button:hover { background: #FC1616; }
.CC-newsletter-popup.modern .close {
  background: #21A579;
  color: #FFFFFF;
  border-radius: 20px;
  width: 22px;
  display: inline-block;
  height: 22px;
  font-size: 15px;
  opacity: 1;
  padding-left: 7px;
  padding-top: 2px;
  -webkit-box-shadow: 0px 0px 5px 1px #666666;
  -moz-box-shadow: 0px 0px 5px 1px #666666;
  box-shadow: 0px 0px 5px 1px #666666;
  position: absolute;
  top: -10px;
  right:-10px;
}
.CC-newsletter-popup.modern .close:hover {
  background: #1C8C66;
  color:#EEEEEE;
}

/** ----------- Trendy Version 1.0 ------------- */
.CC-newsletter-popup.trendy {
  background: url('../img/sample-6.jpg') no-repeat center center;
  background-size: cover;
}
.CC-newsletter-popup.trendy:before {
  position: absolute;
  content:" ";
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color: rgba(0,0,0, 0.1);
  z-index:0;
}
.CC-newsletter-popup.trendy h2 { color: #FFFFFF;position: relative; }
.CC-newsletter-popup.trendy .close {
  background: #21A579;
  color: #FFFFFF;
  border-radius: 20px;
  width: 22px;
  display: inline-block;
  height: 22px;
  font-size: 15px;
  opacity: 1;
  padding-left: 7px;
  padding-top: 2px;
  position: absolute;
  top: -10px;
  right:-10px;
}
.CC-newsletter-popup.trendy .close:hover { background: #F98100; }
.CC-newsletter-popup.trendy .email-section{ position: relative; color: #FFFFFF;}
.CC-newsletter-popup.trendy .content { margin-bottom: 10px; color:#FFFFFF;position: relative; }
.CC-newsletter-popup.trendy .email-section small { color:#FFFFFF; }
.CC-newsletter-popup.trendy .email-section .name {border: 0px;}
.CC-newsletter-popup.trendy .email-section .email { position: relative;color: #000000;border: 0px;}
.CC-newsletter-popup.trendy .email-section button { background: #21A579;}
.CC-newsletter-popup.trendy .email-section button:hover { background: #F98100;}